/*
*****************************
**  CSS de LO RE Baptiste  **
*****************************
*/

/*J ai set les parametre qui ne changerons jamais ou juste qu'il vaut mieux qu'ils soient par default comme ca*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 250ms;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

/*La je passe au body je lui dit que c est un flex en column pour avoir le header en haut apres le midpage et ensuite le footer*/

body{
    height: 100vh;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*La c est tout le header*/

.header{
    height: 15vh;
    width: 100%;
    background-color: #ea094b;
    box-shadow: 0 0px 1px #ea094b;
    display: flex;
    justify-content: center;
    align-items: center;

    /*Evite la selection. // merci https://www.w3schools.com/howto/howto_css_disable_text_selection.asp */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/*Les caracteristiques du logo
c est juste que c est 10vh pour la taille pas besoins de changer autre chose normalement*/

.header .icon{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4px;
}

.header .icon img{
    height: 7.1vh;
    margin-bottom: 4px;
}

.header .icon span{
    color: #fff;
    font-size: 120%;
    border-radius: 10px;
    letter-spacing: 0.5px;
    padding: 3px;
}

.header .icon:hover span{
    background-color: #fff;
    color: #ea094b;
}

/*La c est tout ce qui est Titre slogan et la nav bar*/

.header .rightheader{
    display: flex;
    flex-direction: column;

    width: auto;
    height: 10vh;
}

/*Pour le titre j ai juste recentre les truc au centre avec une couleur 
pas besoin de mettre une taille car elle est deja decide avec h1 et h3 et je la trouve tres bien comme ca*/

.header .rightheader .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: default;
}

/*Ici c est la nav bar
j ai juste place correctement les elements*/

.header .rightheader nav{
    margin-top: 4px;
}

.header .rightheader nav ul{
    display: flex;
    justify-content: space-evenly;
}

.header .rightheader nav ul li{
    padding: 0 5px;
}

.header .rightheader nav ul li:hover{
    cursor: pointer;
}

.header .rightheader nav ul li a{
    font-size: 120%;
    letter-spacing: 0.5px;
    color: #fff;
    border-radius: 10px;
    padding: 3px;
}

.header .rightheader nav ul li:hover a{
    background-color: #fff;
    color: #ea094b;
}

/*Ici on passe au midpage*/

.midpage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.midpage article{
    height: 75%;
    margin: 5%;
}

/*Ici c est le footer avec juste les href de contact, conditions d'utilisations et mentions legales*/

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 5vh;
    background-color: #f0f0f0;

    margin-bottom: 0;

    /*Evite la selection. // merci https://www.w3schools.com/howto/howto_css_disable_text_selection.asp */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
